.header {
    width: 100%;
    font-size: 2rem;
    color: #2A77AE;
    margin-bottom: 10px;
  }
  
  .navbar{
    width: 100%;
  }
  .title {
    /* float: left; */
    font-family: 'Jockey One', sans-serif;
    font-size:3rem;
  }
  
  .scores {
    /* float: right; */
    font-family: 'Jockey One', sans-serif;
    font-size:3rem;
  }

  .message{
    font-family: 'Jockey One', sans-serif;
    font-size:3rem;
  }