

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding: 50px 50px 50px 50px; */
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  background-image: url(https://wallpapercave.com/wp/wp1924064.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.container{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding: 50px 50px 50px 50px; */
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;

}